<div class="home">
  <div class="button-container">
    <button class="btn btn-add btn-blue" (click)="modalActive = true">
      + Adicionar carro
    </button>
  </div>

  <div class="title-container">
    <hr />
    <h4 class="title">Carros cadastrados</h4>
    <hr />
  </div>

  <div class="items-container">
    <div class="items">
      <div class="item" *ngFor="let carro of carros">
        <h4 class="title">{{ carro.model }} {{ carro.brand }}</h4>
        <span>Placa: {{ carro.license }}</span>
        <span>Ano: {{ carro.year }}</span>
        <!-- Adicionei um botão para deletar o carro, que recebe o id -->
        <button (click)="deleteCar(carro)" class="btn btn-red">Deletar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalActive" class="modal new">
  <div class="form-container">
    <form class="form" [formGroup]="carForm" (ngSubmit)="addCar()">
      <h3 class="title center">Adicione um novo carro:</h3>

      <div class="field-container">
        <label for="brand">Marca:</label>
        <input
          id="brand"
          type="text"
          formControlName="brand"
          [class.invalid]="
            carForm.get('brand')?.invalid && carForm.get('brand')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="model">Modelo:</label>
        <input
          id="model"
          type="text"
          formControlName="model"
          [class.invalid]="
            carForm.get('model')?.invalid && carForm.get('model')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="year">Ano:</label>
        <input
          id="year"
          type="text"
          formControlName="year"
          [class.invalid]="
            carForm.get('year')?.invalid && carForm.get('year')?.touched
          "
        />
      </div>

      <div class="field-container">
        <label for="license">Placa:</label>
        <input
          id="license"
          type="text"
          formControlName="license"
          [class.invalid]="
            carForm.get('license')?.invalid && carForm.get('license')?.touched
          "
        />
      </div>

      <div class="btn-container">
        <button
          [disabled]="carForm.invalid"
          type="submit"
          class="btn btn-green"
        >
          Adicionar
        </button>
        <button class="btn btn-red" (click)="modalActive = false">
          Cancelar
        </button>
      </div>
    </form>
    <div></div>
  </div>
</div>
